name: HelmChart
on:
  push:
    tags:
      - "v*"
  workflow_dispatch: {}

env:
  BUCKET: ${{ secrets.OSS_BUCKET }}
  ENDPOINT: ${{ secrets.OSS_ENDPOINT }}
  ACCESS_KEY: ${{ secrets.OSS_ACCESS_KEY }}
  ACCESS_KEY_SECRET: ${{ secrets.OSS_ACCESS_KEY_SECRET }}

jobs:
  publish-images:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: Get the vars
        id: vars
        run: |
          if [[ ${GITHUB_REF} == "refs/heads/main" ]]; then
            echo ::set-output name=TAG::latest
          else
            echo ::set-output name=TAG::${GITHUB_REF#refs/tags/}
          fi
          echo ::set-output name=GITVERSION::git-$(git rev-parse --short HEAD)
      - name: Login Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - uses: docker/setup-qemu-action@v1
      - uses: docker/setup-buildx-action@v1
        with:
          driver-opts: image=moby/buildkit:master

      - uses: docker/build-push-action@v2
        name: Build & Pushing vela-workflow for Dockerhub
        with:
          context: .
          file: ./Dockerfile
          labels: |-
            org.opencontainers.image.source=https://github.com/${{ github.repository }}
            org.opencontainers.image.revision=${{ github.sha }}
          platforms: linux/amd64,linux/arm64
          push: ${{ github.event_name != 'pull_request' }}
          build-args: |
            GOPROXY=https://proxy.golang.org
            VERSION=${{ steps.vars.outputs.TAG }}
            GIT_VERSION=${{ steps.vars.outputs.GITVERSION }}
          tags: |-
            docker.io/oamdev/vela-workflow:${{ steps.vars.outputs.TAG }}

  publish-charts:
    env:
      HELM_CHART: charts/vela-workflow
      LOCAL_OSS_DIRECTORY: .oss/
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@master
      - name: Get the vars
        id: vars
        run: |
          echo ::set-output name=TAG::${GITHUB_REF#refs/tags/}
      - name: Install Helm
        uses: azure/setup-helm@v1
        with:
          version: v3.4.0
      - name: Setup node
        uses: actions/setup-node@v2
        with:
          node-version: '14'
      - uses: oprypin/find-latest-tag@v1
        with:
          repository: kubevela/workflow
          releases-only: true
        id: latest_tag
      - name: Tag helm chart image
        run: |
          latest_repo_tag=${{ steps.latest_tag.outputs.tag }}
          sub="."
          major="$(cut -d"$sub" -f1 <<<"$latest_repo_tag")"
          minor="$(cut -d"$sub" -f2 <<<"$latest_repo_tag")"
          patch="0"
          current_repo_tag="$major.$minor.$patch"
          image_tag=${GITHUB_REF#refs/tags/}
          chart_version=$latest_repo_tag
          if [[ ${GITHUB_REF} == "refs/heads/main" ]]; then
            image_tag=latest
            chart_version=${current_repo_tag}-nightly-build
          fi
          sed -i "s/latest/${image_tag}/g" $HELM_CHART/values.yaml
          chart_smever=${chart_version#"v"}
          sed -i "s/0.1.0/$chart_smever/g" $HELM_CHART/Chart.yaml
      - name: Install ossutil
        run: wget http://gosspublic.alicdn.com/ossutil/1.7.0/ossutil64 && chmod +x ossutil64 && mv ossutil64 ossutil
      - name: Configure Alibaba Cloud OSSUTIL
        run: ./ossutil --config-file .ossutilconfig config -i ${ACCESS_KEY} -k ${ACCESS_KEY_SECRET} -e ${ENDPOINT} -c .ossutilconfig
      - name: sync cloud to local
        run: ./ossutil --config-file .ossutilconfig sync oss://$BUCKET/core $LOCAL_OSS_DIRECTORY
      - name: Package helm charts
        run: |
          helm package $HELM_CHART --destination $LOCAL_OSS_DIRECTORY
          helm repo index --url https://$BUCKET.$ENDPOINT/core $LOCAL_OSS_DIRECTORY
      - name: sync local to cloud
        run: ./ossutil --config-file .ossutilconfig sync $LOCAL_OSS_DIRECTORY oss://$BUCKET/core -f
